#navbarBlock{
    background-color: #ffff;
    display: flex;
    height: 70px;
    border-bottom: 1px solid #111;
    box-shadow:  0 0 8px 0 #111;
}

#navbarBlock > article {
    display: flex;
    height: 70px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.logo{
    flex-basis: 50%;
    display: flex;
    justify-content: flex-start;
}

.logo a{
    color: #4d4dfa;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 3px #5274fd;
}

.menu{
    flex-basis: 50%;
    display: flex;
    justify-content: end;
}

.menu ul{
    list-style: none;
    display: flex;
    margin: 0;
}

.menu ul li a{
    padding: 10px 20px;
    text-decoration: none ;
    color: #4d4dfa;
    border: 1px solid rgb(73, 140, 248);
    border-radius: 5px;
    margin: 0 10px;
}
